body {
    background-color: #1f2937;
}

body{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

body{
    font-size: 18px;
    color: #e5e7eb;
}

body{
    font-size: 24px;
    color: #f9faf8;
}

body{
    background-color: #3882f6;
}

body{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

body{
    background-color: #e5e7eb;
}

body{
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
}